.fd-header{
  .fd-content-max{
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.fd-header__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90px;
  a{
    display: block;
    line-height: 0;
  }
  svg{
    width: 185px;
  }
}


.fd-top-banner{
  background-color: #f3f2f2;
  padding: 130px 0 130px;

  .fd-small-title{
    margin-bottom: 20px;
  }

  .fd-big-title{
    margin-bottom: 30px;
  }

  .fd-paragraph{
    margin-bottom: 33px;
  }
  .fd-top-banner__btn-container{
    display: flex;
    column-gap: 12px;
  }
}


// SECTION NUMBER
.fd-blue-banner-number{
  background-color: #4951F2;
  padding: 68px 0;

  .fd-grid-numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .fd-grid-numbers-single{
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      padding-right: 50px;
      &:nth-child(2){
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
      }
    }
    .counter-value{
      font-size: 56px;
      font-weight: 900;
      color: #fff;
    }
    .info{
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}
.fd-single-column-banner{
  padding: 130px 0 130px;
  .fd-big-title{
    margin-bottom: 25px;
  }
}

.fd-brief{
  position: relative;
  z-index: 1;
  color: #fff;

  .fd-content-max{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 35px rgba(255, 255, 0, 0);
    }
  }
  

  #box{
    background-color: #FFEC0D;
    border: 3px solid #FFEC0D;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    overflow: hidden;
    border-radius: 50%;
    animation: shadow-pulse 1s infinite;

    &:hover {
      animation: none;
      box-shadow: none;
    }
    
    p{
      color: #000000;
      font-size: 21px;
      font-weight: 700;
    }
  }

  .fd-container{
    padding-top: 86px;
    padding-bottom: 86px;
  }
  #vanta-canvas{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.fd-brief-title{
  font-size: 55px!important;
  line-height: 63px!important;
  font-weight: 800;
  margin-bottom: 5px;
}

.fd-footer{
  padding: 80px 0 0;

  .footer-contact{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .social-footer{
    margin-bottom: 25px;
    ul{
      list-style: none;
      padding: 0;
      display: flex;
      column-gap: 15px;
      svg{
        width: 30px;

        path{
          fill: #000000;
        }
      }
    }
  }

  .termspages{
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;

    a{
      text-decoration: none;
      color: #1C1E29!important;
      font-size: 12px!important;
      line-height: 15px;
      letter-spacing: 0;
      font-weight: 300;
      display: inline-block;
    }
  }

  .email-phone{
    display: flex;
    flex-direction: column;

    a{
      text-decoration: none;
      display: inline-block;
      color: #000000!important;
      font-size: 30px!important;
      line-height: 37px;
      letter-spacing: 0;
      font-weight: 500;
    }
  }

  .fd-legal{
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
      color: #000000!important;
      font-size: 12px!important;
      line-height: 15px;
      letter-spacing: 0;
      margin: 0;
      font-weight: 300;
    }
  }

}